--- 
title: Not Found
id: not-found
---

%div.content-container
  %div.content.article
    %h1
      Whoops.
    
    %p.date
      I tried my best, but couldn’t find that page.
    
    %p{:style => "text-align: center;"}
      You could try heading back to <a href="/">the index</a>.
