%div#meta.content-container{:about => "http://zacharyvoase.com/"}
  %p.copy.content
    I’m a hacker, and I love to build stuff for the Web.

  %nav.content#links
    %ul
      %li.first
        %a{:rel => "foaf:page", :href => "http://twitter.com/zacharyvoase"} Twitter
      %li
        %a{:rel => "foaf:page", :href => "http://lanyrd.com/profile/zacharyvoase/"} Lanyrd
      %li
        %a{:rel => "foaf:page", :href => "http://github.com/zacharyvoase"} GitHub
      %li
        %a{:rel => "foaf:page", :href => "https://plus.google.com/114733187952811329250/?rel=author"} G+
      %li
        %a{:rel => "foaf:mbox", :href => "mailto:z@zacharyvoase.com"} Email
      %li
        %a{:rel => "foaf:page", :href => "http://meat.io/"} Meat
