%div.content-container
  %div.content.page
    %p.index-link-container
      %a.index-link{:href => "/"} â† All posts

    %h1{:property => "rss:title", :datatype => ""}
      = title_of(item)

    %div.contents= find_and_preserve(content)
