@import "compass/utilities/general/clearfix";
@import "_border-radius";
@import "_colors";

@mixin mobile {
  @media only screen and (max-width: 640px),
         only screen and (max-device-width: 640px) {
    @content;
  }
}

@mixin container {
  clear: both;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}

@mixin section {
  margin: 0 auto;
  width: 640px;

  @include mobile {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
  }
}

p, fieldset, table, pre {
  margin-bottom: 26px;
}

body, html {
  background-color: $teal;
}

#header-container {
  @include container;

  #header {
    @include section;

    @include mobile {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }

    h1 {
      background-color: $light-teal;
      width: 75%;
      margin: 0;
      padding: 40px 12.5%;

      @include mobile { padding: 10px 12.5%; }

      .prefix { display: block; }
    }
  }
}

.content-container {
  @include container;

  background-color: #fff;
  border-top: 8px solid $teal;

  .content {
    @include section;

    padding: 20px 0 0 0;
  }

  @include mobile {
    #index & div.content { padding-top: 10px; }
  }
}

#footer-container {
  @include container;

  border-top: 8px solid $teal;
  padding-bottom: 20px;
  @include mobile {
    padding-bottom: 0;
  }

  #footer {
    @include section;
    @include border-radius-bottom(10px);
    @include mobile {
      @include border-radius-bottom(0);
    }

    background-color: $light-teal;
    height: 100px - (20px * 2);
    padding: 20px;
    width: 640px - (20px * 2);
  }
}

.spacer {
  @include container;

  border-top: 8px solid $teal;

  .spacer-child {
    @include section;
    height: 40px;
    background-color: $light-teal;
  }
}

#links {
  @include pie-clearfix;

  margin-bottom: 20px;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
    margin: 0;
    padding: 0;
    margin-left: 8px;

    &:before {
      content: "★";
      margin-right: 8px;
    }

    &.first {
      margin-left: 0;
      &:before { content: ''; }
    }

    a { white-space: nowrap; }
  }
}

#articles {
  @include clearfix;

  margin: 10px 0 20px 0;

  li {
    display: block;
    list-style: none;
    margin-bottom: 10px;

    .date {
      clear: both;
      display: block;
      float: right;
      width: 100px;
    }

    .link { white-space: nowrap; }
  }

  @include mobile {
    margin-top: 0;
    margin-bottom: 10px;

    li {
      margin-bottom: 0;
      padding-bottom: 10px;
      padding-top: 10px;
      &:first-child { padding-top: 0; }
      border-bottom: 1px solid #AAA;
      &:last-child { border-bottom: none; }

      .date { float: none; }
      .link { white-space: normal; }
    }
  }
}

p.index-link-container { margin-bottom: 10px; }

p.center { text-align: center; }

h1 { margin: 8px 0; }

div.content.page h1, p.date {
  border-bottom: 1px solid $grey * 2;
  padding-bottom: 16px;
  margin-bottom: 26px;
}

h4 { margin-bottom: 16px; }

blockquote, pre {
  @include border-radius(5px);

  background-color: $grey * 2;
  padding: 10px;
  float: none;
  overflow-x: scroll;
}

blockquote {
  margin: 0 0 16px 0;
  padding: 10px 20px;
  min-width: 640px - (20px * 2);

  & :last-child { margin-bottom: 0 !important; }
}

ul, ol { margin-right: 0; }

dl {
  margin: 0 0 16px 0;

  dd { margin-bottom: 8px; }
}

ins, del {
  @include border-radius(5px);

  background-color: $teal;
  display: block;
  padding: 10px;
  width: 640px - (10px * 2);
}

p, ins, del, pre, h1, h2, h3, h4, h5, h6 { clear: both; }
