@import "compass/utilities/general/clearfix";
@import "_border-radius";
@import "_colors";

@mixin container {
  clear: both;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}

@mixin section {
  margin: 0 auto;
  width: 640px;
}

body, html {
  background-color: $teal;
}

#header-container {
  @include container;

  #header {
    @include section;

    width: 640px;

    h1 {
      background-color: $light-teal;
      width: 640px - (80px * 2);
      margin: 0;
      padding: 40px 80px;

      .prefix { display: block; }
    }
  }
}

.content-container {
  @include container;

  background-color: #fff;
  border-top: 8px solid $teal;

  .content {
    @include section;

    padding: 20px 0 0 0;
    width: 640px;

    p { margin-bottom: 20px; }
  }
}

#footer-container {
  @include container;

  border-top: 8px solid $teal;
  padding-bottom: 20px;

  #footer {
    @include section;
    @include border-radius-bottom(10px);

    background-color: $light-teal;
    height: 100px - (20px * 2);
    padding: 20px;
    width: 640px - (20px * 2);
  }
}

.spacer {
  @include container;

  border-top: 8px solid $teal;

  .spacer-child {
    @include section;
    height: 40px;
    background-color: $light-teal;
  }
}

#articles {
  @include clearfix;

  margin: 10px 0 20px 0;

  li {
    display: block;
    list-style: none;
    margin-bottom: 10px;

    .date {
      clear: both;
      display: block;
      float: right;
      width: 100px;
    }

    .link { white-space: nowrap; }
  }
}

p.index-link-container { margin-bottom: 10px; }

h1 { margin: 8px 0; }

p.date {
  border-bottom: 1px solid $grey * 2;
  padding-bottom: 16px;
}

h4 { margin-bottom: 16px; }

blockquote, pre {
  @include border-radius(5px);

  background-color: $grey * 2;
  float: left;
  min-width: 640px - (10px * 2);
  padding: 10px;
}

blockquote {
  margin: 0 0 16px 0;
  padding: 10px 20px;
  min-width: 640px - (20px * 2);

  & :last-child { margin-bottom: 0 !important; }
}

ul, ol { margin-right: 0; }

dl {
  margin: 0 0 16px 0;

  dd { margin-bottom: 8px; }
}

ins, del {
  @include border-radius(5px);

  background-color: $teal;
  display: block;
  padding: 10px;
  width: 640px - (10px * 2);
}

p, ins, del, pre, h1, h2, h3, h4, h5, h6 { clear: both; }
